@import "../../scss/variables";

.Button {
  cursor: pointer;
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: $border-radius;
  font-size: $font-small;
  font-weight: 700;
  text-transform: uppercase;
}
