@import "./../../scss/variables";

.GamesSelected {
  background-color: $bg-dark-blue-1;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.DoneLink {
  min-height: 3.6rem;
}
