@import "./../../scss/variables";

.WaitingBubble {
  background-color: $bg-dark-blue-1;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem 0.8rem 3rem;
}

.WaitingBubble > span {
  color: $text-blue-light-1;
  font-size: 1.8rem;
}
