@import "./../../scss/variables";

.Button {
  cursor: pointer;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  border-radius: $border-radius;
  padding: 1rem 3rem;
}

.Primary {
  color: $text-orange-light-1;
  background-color: $bg-orange-1;
}

.SecondaryLight {
  color: $text-blue-light-5;
  background-color: $bg-white-1;
}

.SecondaryDark {
  color: $text-blue-light-1;
  background-color: $bg-dark-blue-1;
}
