@import "./../../scss/variables";

.GenerateLinks {
  width: 100%;
}

.Buttons {
  display: flex;
  justify-content: space-between;
}

.ButtonsLoading {
  display: flex;
  justify-content: flex-end;
}
