@import "../../scss/variables";

.LinksGenerator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
}

.LinksGenerator button[class^="Button"] {
  margin-top: 3rem;
}

.SetFriends {
  display: flex;
  align-items: center;
}

.AddFriend {
  cursor: pointer;
  font-size: 2.4rem;
  display: flex;
  flex: 1;
  align-items: center;
}

.AddFriend svg {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  color: $blue;
}

.RemoveFriend {
  cursor: pointer;
  font-size: 2.4rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.RemoveFriend svg {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  color: darken($grey, 20);
}
