@import "./../../scss/variables";

.FoundGame {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
}

.Image {
  border-radius: 10px;
}

.Title {
  color: $text-white-1;
  font-size: 1.4rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-basis: 5rem;
}

.Features {
  flex: 1;
}

.Features ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 2.5rem;
}

.Features li {
  margin-bottom: 0.5rem;
}
