@import "../../../scss/variables";

.LinkInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.LinkInput label {
  color: $blue;
  font-size: $font-small;
  font-weight: 700;
  margin-bottom: 1rem;
}

.LinkInput input {
  background-color: $grey;
  border: none;
  padding: 2rem;
  border-radius: $border-radius;
  font-size: $font-small;
  min-width: 65rem;
  display: block;
}
