// Colours
$white: #fff;
$blue: #2b6cb0;

// Fonts
$font-heading: "Open Sans", sans-serif;
$font-subheading: "Open Sans", sans-serif;
$font-body: "Open Sans", sans-serif;

// Font sizes
$font-small: 2.4rem;
$font-largest: 7.2rem;

// Misc
